
/*Take notes*/

.mainPage{
    /* border: 2px solid purple; */
    width: 90vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    margin-top: -500px;
    margin-left: 150px;
}
.notes-container{
    display: flex;
    flex-direction: column;
   height: 30%;
    width: 80%;
   
   
    /* border: 2px solid green; */
}

.titleMain{
    display:none;
}

.titleIcon{
    border: 2px solid blue;
}


.takenoteWithICon{
display: flex;

}

.OwnerInputColumnMap{
display: flex;
flex-direction: column;
}

.notes-main{
    /* border: 2px solid pink; */
    width:60%;
    margin-left: 10%;
    margin-top:40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.mainBottomIcons{
  background: transparent;
  display: none;
  /* border: 2px solid green; */
  justify-content: baseline;
  margin-top: 7px;
  flex-direction: row;
}

.bottomIcons{
    border: none;
    font-size: 23px;
    background: transparent;
    padding-left: 5px;
   
    /* border:2px solid red; */
   justify-content: center;
    
}
.search-input-notes{
   
    padding: 10px;
    font-size: 20px;
    width: 70%;
    border: none;
}
.displaynotes{
    border: 0.5px solid black;
    width: 250px;
    height: 135px;
    margin-left: 5px;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    left: 100px;

    
   
}
#notediv{
   
    display: flex;
    flex-flow: row wrap;
    margin-top: -13vh;
    margin-left: 80px;
    
}
.title{
    margin-left: 15px;
    font-size: 15px;
    margin-top: 10px;
    
}
.description{
    margin-left: 15px;
    font-size: 15px;
   margin-top: -13px;
}
.prem{
    background:transparent;
    border: none;
    /* border: 2px solid red;
    
    background-color: red;
    height: 20px; */

    
   

}
.icons{
    height: 20px;
    width: 25px;
    margin: 40px 0px 0px 15px ;
    /* border: 2px solid green; */
    
    
}
.note1{
    border: 1px solid #c7c9cc;
   
    margin-top: 5%;
    width: 20%;
    border-radius: 10px;
    height: 500px;
}

.noteIcon{
    margin-top: 25px;
    border: 2px solid red;
    opacity: 0;
}

.note1:hover .noteIcon{
    opacity: 1;
    /* border: 2px solid red; */
}


.list-check, .brush, .gallery{
    background-color: white ;
    border: none;
    display: flex;
    font-size: x-large;
    margin-top: 5px;
    margin-left: 20px;
}
.gallery{
    background-color: white ;
    border: none;
    font-size:xx-large;
    margin-top: 5px;
    margin-left: 20px;
    height: 40px;
    /* border:2px solid red */
}
.noteIcon{
    background: transparent;
    border: none ;
    font-size: x-large;

}

.sideIcon{
    /* border:2px solid red; */
    height:25px;
}
.note1:hover{
    box-shadow: 5px 5px 5px -5px rgb(134, 131, 131);
    
}

.notes-container{
    display: flex;
    flex-direction: column;
    
}

.notes-background{
    display: flex;
    flex-direction: column;
    text-align: center;
  /* border: 2px solid palevioletred; */
    margin-top: 5%;
    width: 60%;
    margin-left: 10%;
}

.bulbicon{
   width: 55%;
   height: 55%;
   padding-left: 25%;
   margin-left: 10%;
   border: solid transparent;
  
    opacity: .1;
}

#noteID{
    color: #80868b;
    cursor: default;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: xx-large;
    font-weight: 400;
    letter-spacing: 0;
   
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 8px;
    border: none;
    cursor: pointer;
  }


  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
    
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: -20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .show {display:none;}



  /* color pallete styling */

 

  .color-palette button:hover  {background-color: #f1f1f1}
  
  

  #color-palette{
    display: none;

    
    
  }
  /* #btn-colors:hover + #color-palette{
    display: block;
    
    
    
  } */

.color-palette{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     padding: 500px 500px 300px; 
    width: 230px;
    height: 170px;
    display: flex;
   
    }
    
    .color-palette button  {
    box-sizing: border-box;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 2px;
    opacity: 1;
    cursor: pointer;
    border: none;
  
    }

    
    
    /* .color-palette button.circled {
      border-color: rgba(0, 0, 0, 0.2);
      height: 5vh;
      width: 5vw;
      flex-flow: row wrap;
      justify-content: center;

      } */
    
    .btn button:hover {
    border: white;
   
    }
    .bg-white {
        background-color: #f28b82;
        
        }
    
    .bg-red {
    background-color: #f28b82;
   
    }
    
    .bg-orange {
    background-color: #fbbc04;
   
    }
    
    .bg-yellow {
    background-color: #fff475;
   
    }
    
    .bg-green {
    background-color: #ccff90;
    
    }
    
    .bg-turquoise {
    background-color: #a7ffeb;
    
    }
    
    .bg-blue {
    background-color: #cbf0f8;
    
    }
    
    .bg-dark-blue {
    background-color: #aecbfa;
    
    }
    
    .bg-purple {
    background-color: #d7aefb;
    
    }
    
    .bg-pink {
    background-color: #fdcfe8;
    
    }
    
    .bg-brown {
    background-color: #e6c9a8;
    
    }
    
    .bg-grey {
    background-color: #e8eaed;
    
    }












    
   


























