
/*Take notes*/

.mainPage{
    /* border: 2px solid purple; */
    width: 90vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    margin-top: -500px;
    margin-left: 150px;
}
.notes-container{
    display: flex;
    flex-direction: column;
   height: 30%;
    width: 80%;
   
   
    /* border: 2px solid green; */
}

.titleMain{
    display:none;
}

.titleIcon{
    border: 2px solid blue;
}


.takenoteWithICon{
display: flex;

}

.OwnerInputColumnMap{
display: flex;
flex-direction: column;
}

.notes-main{
    /* border: 2px solid pink; */
    width:60%;
    margin-left: 10%;
    margin-top:40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.mainBottomIcons{
  background: transparent;
  display: none;
  /* border: 2px solid green; */
  justify-content: baseline;
  margin-top: 7px;
  flex-direction: row;
}

.bottomIcons{
    border: none;
    font-size: 23px;
    background: transparent;
    padding-left: 5px;
   
    /* border:2px solid red; */
   justify-content: center;
    
}
.search-input-notes{
   
    padding: 10px;
    font-size: 20px;
    width: 70%;
    border: none;
}
.displaynotes{
    border: 0.5px solid black;
    width: 250px;
    height: 135px;
    margin-left: 5px;
    margin-top: 10px;
    flex-direction: column;
    display: flex;

    
   
}
#notediv{
   
    display: flex;
    flex-flow: row wrap;
    margin-top: -13vh;
    
}
.title{
    margin-left: 15px;
    font-size: 15px;
    margin-top: 10px;
    
}
.description{
    margin-left: 15px;
    font-size: 15px;
   margin-top: -13px;
}
.prem{
    background: transparent;
    border: 0px;
   

}
.icons{
    height: 20px;
    width: 25px;
    margin: 40px 0px 0px 15px ;
    
    
}
.note1{
    border: 1px solid #c7c9cc;
   
    margin-top: 5%;
    width: 20%;
    border-radius: 10px;
    height: 500px;
}

.noteIcon{
    margin-top: 25px;
    border: 2px solid red;
    opacity: 0;
}

.note1:hover .noteIcon{
    opacity: 1;
    /* border: 2px solid red; */
}


.list-check, .brush, .gallery{
    background-color: white ;
    border: none;
    display: flex;
    font-size: x-large;
    margin-top: 5px;
    margin-left: 20px;
}
.gallery{
    background-color: white ;
    border: none;
    font-size:xx-large;
    margin-top: 5px;
    margin-left: 20px;
    height: 40px;
    /* border:2px solid red */
}
.noteIcon{
    background: transparent;
    border: none ;
    font-size: x-large;

}

.sideIcon{
    /* border:2px solid red; */
    height:25px;
}
.note1:hover{
    box-shadow: 5px 5px 5px -5px rgb(134, 131, 131);
    
}

.notes-container{
    display: flex;
    flex-direction: column;
    
}

.notes-background{
    display: flex;
    flex-direction: column;
    text-align: center;
  /* border: 2px solid palevioletred; */
    margin-top: 5%;
    width: 60%;
    margin-left: 10%;
}

.bulbicon{
   width: 55%;
   height: 55%;
   padding-left: 25%;
   margin-left: 10%;
   border: solid transparent;
  
    opacity: .1;
}

#noteID{
    color: #80868b;
    cursor: default;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: xx-large;
    font-weight: 400;
    letter-spacing: 0;
   
}



















